/* TODO: Make it awesome */
* {
	box-sizing: border-box;
}
h1{float: left;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    /* margin-bottom:75px; */

}



body{
    background-color: rgba(95, 126, 182, 0.671);
    width:960px; margin:20px auto;
}

main {
   
    width:960px; margin:0 auto; background-color:#fff;
 }


header{
    position: relative;
    background-color: rgb(34, 156, 156);
    margin-bottom: 15px;
	color: #fff;
    padding: 20px;
    width: 960px;
    height: 75px;
	
}

nav ul {
    position:absolute;
    margin-left: 230px;
   
}

nav ul li {
	
	float: left;
	padding-right: 15px;
	list-style-type: none;
}
ol{margin-top:20px;
    height:200px;

}
ol li {
	
	
	padding: 15px;
	list-style-type: none;
}
.copy {margin-top:20px;
      height: 200px;
}
a {
    
    font-size: 24px;
    color: #fff;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
}

section{
    /* position: relative; */
    
}
.card{
    
 
    background-color: greenyellow;

}
 

.deck{
    /* clear: both; */
}

.col-1 {
float: left;
width: 50%;

}
.col-2{
    padding-top: 55px;
    
float: right;
width: 50%;  
}

footer{
    background-color: azure;
    margin-top: 15px;
    position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
	text-align: center;
	color: #000;
}